.App {
  text-align: center;
}

.contactPage{
  background-color: rgba(46, 134, 192, 0.262);
}

.todoPage{
  background-color: rgba(46, 134, 192, 0.262);
}

.homePage{
  background-color: rgba(46, 134, 192, 0.262);
}

.mainTitle{
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
}

.footer{
  text-align: center;
  font-size: 0.875rem;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: blue;
}

.contactForm{
  text-align: center;
  margin: 3rem auto;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.contactForm label{
  display: block;
  margin-bottom: 1rem;
  font-weight: 700;
  
}

.contactForm button {
  background-color: black;
  color: white;  
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
  font-size: 1rem; 
}

.todoForm{
  text-align: center;
  margin: 3rem auto;
  padding: 2rem;
  border-radius: 8px;
}

.todoForm button {
  background-color: black;
  color: white;  
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
  font-size: 1rem; 
}

.todoForm label{
  display: block;
  margin-bottom: 1rem;
  font-weight: 700;
}
