.contactPage{
  background-color: rgb(122, 110, 98); 
  height: 100vh; 
}

.todoPage{
  background-color: rgb(122, 110, 98); 
  height: 100vh; 
}

.homePage{
  background: linear-gradient(to bottom, rgb(122, 110, 98), rgb(189, 184, 184));
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Playfair Display", serif;
}


.homePage h1{
  color: #333;
  font-size: 6rem;
  position: relative;
}

.homePage h1::after {
  content: "";
  width: 80px;
  height: 3px;
  background-color: rgb(102, 97, 97);
  display: block;
  margin: 15px auto 0 auto;
  border-radius: 2px;
}


.mainTitle{
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
  font-family: "Playfair Display", serif !important;
}

.footer{
  text-align: center;
  font-size: 0.875rem;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgb(255, 255, 255);
  font-family: "Playfair Display", serif !important;
}

.contactForm{
  text-align: center;
  margin: 3rem auto;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgb(0, 0, 0);
  background-color: rgb(102, 97, 97);
}

.contactForm label{
  display: block;
  margin-bottom: 1rem;
  font-weight: 700;
  font-family: "Playfair Display", serif !important;
  
}

.contactForm button {
  background-color: black;
  color: white;  
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
  font-size: 1rem; 
  font-family: "Playfair Display", serif !important;
}

.todoForm{
  text-align: center;
  margin: 3rem auto;
  padding: 2rem;
  border-radius: 8px;
  background-color: rgb(102, 97, 97);
}

.todoForm button {
  background-color: black;
  color: white;  
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
  font-size: 1rem; 
  font-family: "Playfair Display", serif !important;
}

.todoForm label{
  display: block;
  margin-bottom: 1rem;
  font-weight: 700;
  font-family: "Playfair Display", serif !important;
}

.todoTable{
  background-color:rgb(102, 97, 97); 
  font-family: "Playfair Display", serif !important;
}

.my-navbar{
  background-color: rgb(242, 242, 242) !important; 
  font-family: "Playfair Display", serif !important;
  padding: 12px 0;
  border-bottom: 1px solid rgb(221, 221, 221); 
}
.my-navbar .navbar-brand,
.my-navbar .nav-link {
  color: rgb(51, 51, 51) !important;
  font-weight: 500;
  font-size: 1.15rem;
}

.my-navbar .nav-link:hover,
.my-navbar .navbar-brand:hover {
  color: rgb(122, 110, 98) !important;
}

.my-navbar .navbar-toggler-icon {
  filter: invert(30%);
}