.contactPage{
  background-color: rgb(110, 120, 129); 
  height: 100vh; 
}

.todoPage{
  background-color: rgb(110, 120, 129); 
  height: 100vh; 
}

.homePage{
  background-color: rgb(110, 120, 129); 
  height: 100vh; 
  
}

.homePageTitle{
  text-align: center;
  font-size: 5rem;
  font-weight: bolder;
}

.mainTitle{
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
}

.footer{
  text-align: center;
  font-size: 0.875rem;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgb(255, 255, 255);
}

.contactForm{
  text-align: center;
  margin: 3rem auto;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgb(0, 0, 0);
  background-color: rgb(94, 126, 164);
}

.contactForm label{
  display: block;
  margin-bottom: 1rem;
  font-weight: 700;
  
}

.contactForm button {
  background-color: black;
  color: white;  
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
  font-size: 1rem; 
}

.todoForm{
  text-align: center;
  margin: 3rem auto;
  padding: 2rem;
  border-radius: 8px;
  background-color: rgb(94, 126, 164);
}

.todoForm button {
  background-color: black;
  color: white;  
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
  font-size: 1rem; 
}

.todoForm label{
  display: block;
  margin-bottom: 1rem;
  font-weight: 700;
}

.todoTable{
  background-color:rgb(94, 126, 164); 
}